In [1]:
import pandas as pd

path = "part.0.parquet1"
df = pd.read_parquet(path)
df

,time,Volume,LastPrice,TotalBidQty,WeightedAvgBidPx,TotalOfferQty,WeightedAvgOfferPx,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,BuyPrice,SellPrice,LogReturn
0,2024-04-30 09:30:00,260600.0,3.38,2126100.0,3.335,5788911.0,3.550,3.38,272600.0,3.37,380400.0,3.39,302500.0,3.36,361500.0,3.38,3.39,0.002954
1,2024-04-30 09:30:03,349800.0,3.38,2692000.0,3.337,7075811.0,3.535,3.38,280100.0,3.37,518600.0,3.39,335400.0,3.36,349800.0,3.37,3.39,0.005917
2,2024-04-30 09:30:06,655700.0,3.37,2542800.0,3.333,7313111.0,3.534,3.38,282600.0,3.37,253000.0,3.39,345900.0,3.36,378400.0,3.38,3.39,0.002954
3,2024-04-30 09:30:09,684300.0,3.38,2782700.0,3.335,7584811.0,3.530,3.38,293600.0,3.37,358000.0,3.39,485100.0,3.36,397700.0,3.38,3.39,0.002954
4,2024-04-30 09:30:12,849300.0,3.38,2756200.0,3.333,7689511.0,3.529,3.38,313800.0,3.37,200300.0,3.39,498100.0,3.36,459200.0,3.38,3.38,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,2024-04-30 14:56:48,54754161.0,3.39,6714702.0,3.343,15815311.0,3.503,3.39,1603100.0,3.38,702302.0,3.40,1084000.0,3.37,1238800.0,3.38,NaN,NaN
4774,2024-04-30 14:56:51,54917661.0,3.38,6753302.0,3.344,15674211.0,3.504,3.39,1460800.0,3.38,740902.0,3.40,1085200.0,3.37,1238800.0,3.39,NaN,NaN
4775,2024-04-30 14:56:54,54921861.0,3.39,6738302.0,3.344,15668311.0,3.504,3.39,1457200.0,3.38,735902.0,3.40,1085200.0,3.37,1238800.0,3.38,NaN,NaN
4776,2024-04-30 14:56:57,54937061.0,3.38,6724502.0,3.343,15664311.0,3.504,3.39,1453200.0,3.38,722202.0,3.40,1085200.0,3.37,1238800.0,3.38,NaN,NaN
4777,2024-04-30 14:57:00,54961461.0,3.38,6650802.0,3.343,15662711.0,3.504,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,NaN,NaN,NaN

In [4]:
df=pd.read_csv("Crossformer/datasets/hf.csv")
df[1:3]

,time,Volume,LastPrice,TotalBidQty,WeightedAvgBidPx,TotalOfferQty,WeightedAvgOfferPx,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,LogReturn
1,2024-04-30 09:30:04,-2.952853,1.963909,0.131896,3.536634,-4.343200,5.265693,1.798695,-1.045933,1.803815,-0.187644,1.798277,-1.177115,1.804334,-1.289863,-0.004334
2,2024-04-30 09:30:07,-2.942334,1.562792,-3.308111,0.594524,-4.227462,4.816994,1.798695,-1.117476,1.803815,0.106545,1.798277,-1.133260,1.804334,-1.135506,-0.005414

In [12]:
df[2:3]

,time,Volume,LastPrice,TotalBidQty,WeightedAvgBidPx,TotalOfferQty,WeightedAvgOfferPx,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,BuyPrice,SellPrice,LogReturn
2,2024-04-30 09:30:06,655700.0,3.37,2542800.0,3.333,7313111.0,3.534,3.38,282600.0,3.37,253000.0,3.39,345900.0,3.36,378400.0,3.38,3.39,0.002954

In [13]:
df.head(1)

,time,Volume,LastPrice,TotalBidQty,WeightedAvgBidPx,TotalOfferQty,WeightedAvgOfferPx,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,BuyPrice,SellPrice,LogReturn
0,2024-04-30 09:30:00,260600.0,3.38,2126100.0,3.335,5788911.0,3.55,3.38,272600.0,3.37,380400.0,3.39,302500.0,3.36,361500.0,3.38,3.39,0.002954

In [14]:
df = df.drop(['BuyPrice', 'SellPrice'], axis=1)

In [21]:
df.to_csv('hf2.csv', index=False)

In [16]:
null_count = df['LogReturn'].isnull().sum()
print(null_count)

1800

In [17]:
null_rows = df[df['LogReturn'].isnull()].index
print("The null values in 'Logreturn' column are located in the following rows:")
for row in null_rows:
    print(row)

The null values in 'Logreturn' column are located in the following rows:
2978
2979
2980
2981
2982
2983
2984
2985
2986
2987
2988
2989
2990
2991
2992
2993
2994
2995
2996
2997
2998
2999
3000
3001
3002
3003
3004
3005
3006
3007
3008
3009
3010
3011
3012
3013
3014
3015
3016
3017
3018
3019
3020
3021
3022
3023
3024
3025
3026
3027
3028
3029
3030
3031
3032
3033
3034
3035
3036
3037
3038
3039
3040
3041
3042
3043
3044
3045
3046
3047
3048
3049
3050
3051
3052
3053
3054
3055
3056
3057
3058
3059
3060
3061
3062
3063
3064
3065
3066
3067
3068
3069
3070
3071
3072
3073
3074
3075
3076
3077
3078
3079
3080
3081
3082
3083
3084
3085
3086
3087
3088
3089
3090
3091
3092
3093
3094
3095
3096
3097
3098
3099
3100
3101
3102
3103
3104
3105
3106
3107
3108
3109
3110
3111
3112
3113
3114
3115
3116
3117
3118
3119
3120
3121
3122
3123
3124
3125
3126
3127
3128
3129
3130
3131
3132
3133
3134
3135
3136
3137
3138
3139
3140
3141
3142
3143
3144
3145
3146
3147
3148
3149
3150
3151
3152
3153
3154
3155
3156
3157
3158
3159
3160
3161
3162
3163
3164
3165
3166
3167
3168
3169
3170
3171
3172
3173
3174
3175
3176
3177
3178
3179
3180
3181
3182
3183
3184
3185
3186
3187
3188
3189
3190
3191
3192
3193
3194
3195
3196
3197
3198
3199
3200
3201
3202
3203
3204
3205
3206
3207
3208
3209
3210
3211
3212
3213
3214
3215
3216
3217
3218
3219
3220
3221
3222
3223
3224
3225
3226
3227
3228
3229
3230
3231
3232
3233
3234
3235
3236
3237
3238
3239
3240
3241
3242
3243
3244
3245
3246
3247
3248
3249
3250
3251
3252
3253
3254
3255
3256
3257
3258
3259
3260
3261
3262
3263
3264
3265
3266
3267
3268
3269
3270
3271
3272
3273
3274
3275
3276
3277
3278
3279
3280
3281
3282
3283
3284
3285
3286
3287
3288
3289
3290
3291
3292
3293
3294
3295
3296
3297
3298
3299
3300
3301
3302
3303
3304
3305
3306
3307
3308
3309
3310
3311
3312
3313
3314
3315
3316
3317
3318
3319
3320
3321
3322
3323
3324
3325
3326
3327
3328
3329
3330
3331
3332
3333
3334
3335
3336
3337
3338
3339
3340
3341
3342
3343
3344
3345
3346
3347
3348
3349
3350
3351
3352
3353
3354
3355
3356
3357
3358
3359
3360
3361
3362
3363
3364
3365
3366
3367
3368
3369
3370
3371
3372
3373
3374
3375
3376
3377
3378
3379
3380
3381
3382
3383
3384
3385
3386
3387
3388
3389
3390
3391
3392
3393
3394
3395
3396
3397
3398
3399
3400
3401
3402
3403
3404
3405
3406
3407
3408
3409
3410
3411
3412
3413
3414
3415
3416
3417
3418
3419
3420
3421
3422
3423
3424
3425
3426
3427
3428
3429
3430
3431
3432
3433
3434
3435
3436
3437
3438
3439
3440
3441
3442
3443
3444
3445
3446
3447
3448
3449
3450
3451
3452
3453
3454
3455
3456
3457
3458
3459
3460
3461
3462
3463
3464
3465
3466
3467
3468
3469
3470
3471
3472
3473
3474
3475
3476
3477
3478
3479
3480
3481
3482
3483
3484
3485
3486
3487
3488
3489
3490
3491
3492
3493
3494
3495
3496
3497
3498
3499
3500
3501
3502
3503
3504
3505
3506
3507
3508
3509
3510
3511
3512
3513
3514
3515
3516
3517
3518
3519
3520
3521
3522
3523
3524
3525
3526
3527
3528
3529
3530
3531
3532
3533
3534
3535
3536
3537
3538
3539
3540
3541
3542
3543
3544
3545
3546
3547
3548
3549
3550
3551
3552
3553
3554
3555
3556
3557
3558
3559
3560
3561
3562
3563
3564
3565
3566
3567
3568
3569
3570
3571
3572
3573
3574
3575
3576
3577
3578
3579
3580
3581
3582
3583
3584
3585
3586
3587
3588
3589
3590
3591
3592
3593
3594
3595
3596
3597
3598
3599
3600
3601
3602
3603
3604
3605
3606
3607
3608
3609
3610
3611
3612
3613
3614
3615
3616
3617
3618
3619
3620
3621
3622
3623
3624
3625
3626
3627
3628
3629
3630
3631
3632
3633
3634
3635
3636
3637
3638
3639
3640
3641
3642
3643
3644
3645
3646
3647
3648
3649
3650
3651
3652
3653
3654
3655
3656
3657
3658
3659
3660
3661
3662
3663
3664
3665
3666
3667
3668
3669
3670
3671
3672
3673
3674
3675
3676
3677
3678
3679
3680
3681
3682
3683
3684
3685
3686
3687
3688
3689
3690
3691
3692
3693
3694
3695
3696
3697
3698
3699
3700
3701
3702
3703
3704
3705
3706
3707
3708
3709
3710
3711
3712
3713
3714
3715
3716
3717
3718
3719
3720
3721
3722
3723
3724
3725
3726
3727
3728
3729
3730
3731
3732
3733
3734
3735
3736
3737
3738
3739
3740
3741
3742
3743
3744
3745
3746
3747
3748
3749
3750
3751
3752
3753
3754
3755
3756
3757
3758
3759
3760
3761
3762
3763
3764
3765
3766
3767
3768
3769
3770
3771
3772
3773
3774
3775
3776
3777
3778
3779
3780
3781
3782
3783
3784
3785
3786
3787
3788
3789
3790
3791
3792
3793
3794
3795
3796
3797
3798
3799
3800
3801
3802
3803
3804
3805
3806
3807
3808
3809
3810
3811
3812
3813
3814
3815
3816
3817
3818
3819
3820
3821
3822
3823
3824
3825
3826
3827
3828
3829
3830
3831
3832
3833
3834
3835
3836
3837
3838
3839
3840
3841
3842
3843
3844
3845
3846
3847
3848
3849
3850
3851
3852
3853
3854
3855
3856
3857
3858
3859
3860
3861
3862
3863
3864
3865
3866
3867
3868
3869
3870
3871
3872
3873
3874
3875
3876
3877
3878
3879
3880
3881
3882
3883
3884
3885
3886
3887
3888
3889
3890
3891
3892
3893
3894
3895
3896
3897
3898
3899
3900
3901
3902
3903
3904
3905
3906
3907
3908
3909
3910
3911
3912
3913
3914
3915
3916
3917
3918
3919
3920
3921
3922
3923
3924
3925
3926
3927
3928
3929
3930
3931
3932
3933
3934
3935
3936
3937
3938
3939
3940
3941
3942
3943
3944
3945
3946
3947
3948
3949
3950
3951
3952
3953
3954
3955
3956
3957
3958
3959
3960
3961
3962
3963
3964
3965
3966
3967
3968
3969
3970
3971
3972
3973
3974
3975
3976
3977
3978
3979
3980
3981
3982
3983
3984
3985
3986
3987
3988
3989
3990
3991
3992
3993
3994
3995
3996
3997
3998
3999
4000
4001
4002
4003
4004
4005
4006
4007
4008
4009
4010
4011
4012
4013
4014
4015
4016
4017
4018
4019
4020
4021
4022
4023
4024
4025
4026
4027
4028
4029
4030
4031
4032
4033
4034
4035
4036
4037
4038
4039
4040
4041
4042
4043
4044
4045
4046
4047
4048
4049
4050
4051
4052
4053
4054
4055
4056
4057
4058
4059
4060
4061
4062
4063
4064
4065
4066
4067
4068
4069
4070
4071
4072
4073
4074
4075
4076
4077
4078
4079
4080
4081
4082
4083
4084
4085
4086
4087
4088
4089
4090
4091
4092
4093
4094
4095
4096
4097
4098
4099
4100
4101
4102
4103
4104
4105
4106
4107
4108
4109
4110
4111
4112
4113
4114
4115
4116
4117
4118
4119
4120
4121
4122
4123
4124
4125
4126
4127
4128
4129
4130
4131
4132
4133
4134
4135
4136
4137
4138
4139
4140
4141
4142
4143
4144
4145
4146
4147
4148
4149
4150
4151
4152
4153
4154
4155
4156
4157
4158
4159
4160
4161
4162
4163
4164
4165
4166
4167
4168
4169
4170
4171
4172
4173
4174
4175
4176
4177
4178
4179
4180
4181
4182
4183
4184
4185
4186
4187
4188
4189
4190
4191
4192
4193
4194
4195
4196
4197
4198
4199
4200
4201
4202
4203
4204
4205
4206
4207
4208
4209
4210
4211
4212
4213
4214
4215
4216
4217
4218
4219
4220
4221
4222
4223
4224
4225
4226
4227
4228
4229
4230
4231
4232
4233
4234
4235
4236
4237
4238
4239
4240
4241
4242
4243
4244
4245
4246
4247
4248
4249
4250
4251
4252
4253
4254
4255
4256
4257
4258
4259
4260
4261
4262
4263
4264
4265
4266
4267
4268
4269
4270
4271
4272
4273
4274
4275
4276
4277
4278
4279
4280
4281
4282
4283
4284
4285
4286
4287
4288
4289
4290
4291
4292
4293
4294
4295
4296
4297
4298
4299
4300
4301
4302
4303
4304
4305
4306
4307
4308
4309
4310
4311
4312
4313
4314
4315
4316
4317
4318
4319
4320
4321
4322
4323
4324
4325
4326
4327
4328
4329
4330
4331
4332
4333
4334
4335
4336
4337
4338
4339
4340
4341
4342
4343
4344
4345
4346
4347
4348
4349
4350
4351
4352
4353
4354
4355
4356
4357
4358
4359
4360
4361
4362
4363
4364
4365
4366
4367
4368
4369
4370
4371
4372
4373
4374
4375
4376
4377
4378
4379
4380
4381
4382
4383
4384
4385
4386
4387
4388
4389
4390
4391
4392
4393
4394
4395
4396
4397
4398
4399
4400
4401
4402
4403
4404
4405
4406
4407
4408
4409
4410
4411
4412
4413
4414
4415
4416
4417
4418
4419
4420
4421
4422
4423
4424
4425
4426
4427
4428
4429
4430
4431
4432
4433
4434
4435
4436
4437
4438
4439
4440
4441
4442
4443
4444
4445
4446
4447
4448
4449
4450
4451
4452
4453
4454
4455
4456
4457
4458
4459
4460
4461
4462
4463
4464
4465
4466
4467
4468
4469
4470
4471
4472
4473
4474
4475
4476
4477
4478
4479
4480
4481
4482
4483
4484
4485
4486
4487
4488
4489
4490
4491
4492
4493
4494
4495
4496
4497
4498
4499
4500
4501
4502
4503
4504
4505
4506
4507
4508
4509
4510
4511
4512
4513
4514
4515
4516
4517
4518
4519
4520
4521
4522
4523
4524
4525
4526
4527
4528
4529
4530
4531
4532
4533
4534
4535
4536
4537
4538
4539
4540
4541
4542
4543
4544
4545
4546
4547
4548
4549
4550
4551
4552
4553
4554
4555
4556
4557
4558
4559
4560
4561
4562
4563
4564
4565
4566
4567
4568
4569
4570
4571
4572
4573
4574
4575
4576
4577
4578
4579
4580
4581
4582
4583
4584
4585
4586
4587
4588
4589
4590
4591
4592
4593
4594
4595
4596
4597
4598
4599
4600
4601
4602
4603
4604
4605
4606
4607
4608
4609
4610
4611
4612
4613
4614
4615
4616
4617
4618
4619
4620
4621
4622
4623
4624
4625
4626
4627
4628
4629
4630
4631
4632
4633
4634
4635
4636
4637
4638
4639
4640
4641
4642
4643
4644
4645
4646
4647
4648
4649
4650
4651
4652
4653
4654
4655
4656
4657
4658
4659
4660
4661
4662
4663
4664
4665
4666
4667
4668
4669
4670
4671
4672
4673
4674
4675
4676
4677
4678
4679
4680
4681
4682
4683
4684
4685
4686
4687
4688
4689
4690
4691
4692
4693
4694
4695
4696
4697
4698
4699
4700
4701
4702
4703
4704
4705
4706
4707
4708
4709
4710
4711
4712
4713
4714
4715
4716
4717
4718
4719
4720
4721
4722
4723
4724
4725
4726
4727
4728
4729
4730
4731
4732
4733
4734
4735
4736
4737
4738
4739
4740
4741
4742
4743
4744
4745
4746
4747
4748
4749
4750
4751
4752
4753
4754
4755
4756
4757
4758
4759
4760
4761
4762
4763
4764
4765
4766
4767
4768
4769
4770
4771
4772
4773
4774
4775
4776
4777

In [91]:
df = df.dropna(subset=['LogReturn'])
df

,time,Volume,LastPrice,TotalBidQty,WeightedAvgBidPx,TotalOfferQty,WeightedAvgOfferPx,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,LogReturn
0,2024-04-30 09:30:00,260600.0,3.38,2126100.0,3.335,5788911.0,3.550,3.38,272600.0,3.37,380400.0,3.39,302500.0,3.36,361500.0,0.002954
1,2024-04-30 09:30:03,349800.0,3.38,2692000.0,3.337,7075811.0,3.535,3.38,280100.0,3.37,518600.0,3.39,335400.0,3.36,349800.0,0.005917
2,2024-04-30 09:30:06,655700.0,3.37,2542800.0,3.333,7313111.0,3.534,3.38,282600.0,3.37,253000.0,3.39,345900.0,3.36,378400.0,0.002954
3,2024-04-30 09:30:09,684300.0,3.38,2782700.0,3.335,7584811.0,3.530,3.38,293600.0,3.37,358000.0,3.39,485100.0,3.36,397700.0,0.002954
4,2024-04-30 09:30:12,849300.0,3.38,2756200.0,3.333,7689511.0,3.529,3.38,313800.0,3.37,200300.0,3.39,498100.0,3.36,459200.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2973,2024-04-30 13:24:54,39505863.0,3.37,8422700.0,3.337,18685211.0,3.496,3.38,1619900.0,3.37,507400.0,3.39,473000.0,3.36,2573500.0,0.005917
2974,2024-04-30 13:24:57,39507763.0,3.37,8420800.0,3.337,18693911.0,3.496,3.38,1619900.0,3.37,505500.0,3.39,473000.0,3.36,2573500.0,0.000000
2975,2024-04-30 13:25:00,39515863.0,3.38,8400800.0,3.337,18689811.0,3.496,3.38,1611800.0,3.37,506200.0,3.39,473000.0,3.36,2552800.0,0.002954
2976,2024-04-30 13:25:03,39515863.0,3.38,8395400.0,3.337,18689811.0,3.496,3.38,1611800.0,3.37,499300.0,3.39,473000.0,3.36,2552800.0,0.000000
2977,2024-04-30 13:25:06,39515863.0,3.38,8402700.0,3.337,18685811.0,3.496,3.38,1611800.0,3.37,499800.0,3.39,473000.0,3.36,2559600.0,0.000000

In [92]:
df.isnull().sum()

time                  0
Volume                0
LastPrice             0
TotalBidQty           0
WeightedAvgBidPx      0
TotalOfferQty         0
WeightedAvgOfferPx    0
AskPrice1             0
AskVolume1            0
BidPrice1             0
BidVolume1            0
AskPrice2             0
AskVolume2            0
BidPrice2             0
BidVolume2            0
LogReturn             0
dtype: int64

In [93]:
df.isnull().sum()

time                  0
Volume                0
LastPrice             0
TotalBidQty           0
WeightedAvgBidPx      0
TotalOfferQty         0
WeightedAvgOfferPx    0
AskPrice1             0
AskVolume1            0
BidPrice1             0
BidVolume1            0
AskPrice2             0
AskVolume2            0
BidPrice2             0
BidVolume2            0
LogReturn             0
dtype: int64

In [94]:

columns = ['Volume','LastPrice','TotalBidQty','WeightedAvgBidPx','TotalOfferQty','WeightedAvgOfferPx','AskPrice1','AskVolume1','BidPrice1','BidVolume1','AskPrice2','AskVolume2','BidPrice2','BidVolume2']

for col in columns:
    col_mean = df[col].mean()  
    col_std = df[col].std()  
    df[col] = (df[col] - col_mean) / col_std  

print(df)

                     time    Volume  LastPrice  TotalBidQty  WeightedAvgBidPx  \
0     2024-04-30 09:30:00 -2.203165  -0.201757    -3.277436         -0.590136
1     2024-04-30 09:30:03 -2.195687  -0.201757    -2.973320         -0.367593
2     2024-04-30 09:30:06 -2.170042  -0.828278    -3.053500         -0.812679
3     2024-04-30 09:30:09 -2.167644  -0.201757    -2.924578         -0.590136
4     2024-04-30 09:30:12 -2.153811  -0.201757    -2.938819         -0.812679
...                   ...       ...        ...          ...               ...
2973  2024-04-30 13:24:54  1.086973  -0.828278     0.106375         -0.367593
2974  2024-04-30 13:24:57  1.087132  -0.828278     0.105353         -0.367593
2975  2024-04-30 13:25:00  1.087811  -0.201757     0.094605         -0.367593
2976  2024-04-30 13:25:03  1.087811  -0.201757     0.091703         -0.367593
2977  2024-04-30 13:25:06  1.087811  -0.201757     0.095626         -0.367593

      TotalOfferQty  WeightedAvgOfferPx  AskPrice1  AskVolume1  BidPrice1  \
0         -2.926127            2.338640  -0.503984   -1.246717  -0.502985
1         -2.531071            1.421208  -0.503984   -1.231832  -0.502985
2         -2.458224            1.360046  -0.503984   -1.226871  -0.502985
3         -2.374817            1.115397  -0.503984   -1.205040  -0.502985
4         -2.342676            1.054235  -0.503984   -1.164949  -0.502985
...             ...                 ...        ...         ...        ...
2973       1.032811           -0.964115  -0.503984    1.427211  -0.502985
2974       1.035481           -0.964115  -0.503984    1.427211  -0.502985
2975       1.034223           -0.964115  -0.503984    1.411136  -0.502985
2976       1.034223           -0.964115  -0.503984    1.411136  -0.502985
2977       1.032995           -0.964115  -0.503984    1.411136  -0.502985

      BidVolume1  AskPrice2  AskVolume2  BidPrice2  BidVolume2  LogReturn
0      -0.917477  -0.503984   -1.378172  -0.502985   -2.488445   0.002954
1      -0.630980  -0.503984   -1.305418  -0.502985   -2.513170   0.005917
2      -1.181585  -0.503984   -1.282198  -0.502985   -2.452730   0.002954
3      -0.963914  -0.503984   -0.974374  -0.502985   -2.411944   0.002954
4      -1.290835  -0.503984   -0.945626  -0.502985   -2.281978   0.000000
...          ...        ...         ...        ...         ...        ...
2973   -0.654198  -0.503984   -1.001131  -0.502985    2.186120   0.005917
2974   -0.658137  -0.503984   -1.001131  -0.502985    2.186120   0.000000
2975   -0.656686  -0.503984   -1.001131  -0.502985    2.142376   0.002954
2976   -0.670990  -0.503984   -1.001131  -0.502985    2.142376   0.000000
2977   -0.669954  -0.503984   -1.001131  -0.502985    2.156746   0.000000

[2978 rows x 16 columns]

/var/folders/sb/rhz30ss15_jfclq_hk5bs4_c0000gn/T/ipykernel_1489/454903269.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = (df[col] - col_mean) / col_std

In [32]:
df=pd.read_csv('Crossformer/datasets/hf.csv')
df

,time,Volume,LastPrice,TotalBidQty,WeightedAvgBidPx,TotalOfferQty,WeightedAvgOfferPx,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,LogReturn
0,2024-04-30 09:30:01,-2.964323,1.562792,-0.461117,3.236419,-4.410835,5.510438,1.387015,-1.213410,1.392278,-0.224588,1.386662,-1.564952,1.392709,-1.785361,-0.005414
1,2024-04-30 09:30:04,-2.952853,1.963909,0.131896,3.536634,-4.343200,5.265693,1.798695,-1.045933,1.803815,-0.187644,1.798277,-1.177115,1.804334,-1.289863,-0.004334
2,2024-04-30 09:30:07,-2.942334,1.562792,-3.308111,0.594524,-4.227462,4.816994,1.798695,-1.117476,1.803815,0.106545,1.798277,-1.133260,1.804334,-1.135506,-0.005414
3,2024-04-30 09:30:10,-2.934350,1.963909,-2.886320,0.894739,-4.126374,4.490668,2.210375,-0.395535,2.215352,-1.040107,2.209893,-0.090349,2.215959,-0.854032,-0.005414
4,2024-04-30 09:30:13,-2.924464,1.963909,-1.871896,1.315041,-3.978306,3.919597,1.798695,-1.245930,1.803815,-0.450361,1.798277,-1.171633,1.804334,-1.138100,-0.005414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3075,2024-04-30 13:25:34,1.366783,-0.442791,1.272365,-0.486251,0.778027,-0.730552,-0.259706,3.355632,-0.253870,-1.048317,-0.259799,1.981769,-0.253791,-0.179532,-0.002176
3076,2024-04-30 13:25:37,1.367239,-0.442791,1.238196,-0.486251,0.778644,-0.730552,-0.671386,-1.289832,-0.665407,0.584089,-0.671414,2.057144,-0.665416,-0.939642,0.000000
3077,2024-04-30 13:25:40,1.367278,-0.843908,1.262114,-0.486251,0.770393,-0.730552,-0.671386,-1.257312,-0.665407,0.659346,-0.671414,1.858429,-0.665416,-0.935750,0.000000
3078,2024-04-30 13:25:43,1.367318,-0.843908,1.271226,-0.486251,0.770393,-0.730552,-0.671386,-1.257312,-0.665407,0.666188,-0.671414,1.858429,-0.665416,-0.911105,-0.002176
3079,2024-04-30 13:25:46,1.367912,-0.442791,1.275402,-0.486251,0.770393,-0.730552,-0.671386,-1.257312,-0.665407,0.681239,-0.671414,1.858429,-0.665416,-0.911105,-0.001089

In [13]:
import torch

# åˆ›å»ºä¸¤ä¸ªç¤ºä¾‹å¼ é‡
a = torch.tensor([[1, 2], [3, 4]])
b = torch.tensor([[5, 6], [7, 8]])

# åˆ›å»ºåŒ…å«è¿™ä¸¤ä¸ªå¼ é‡çš„åˆ—è¡¨
seg_to_merge = [a, b]

# ä½¿ç”¨torch.catå‡½æ•°æ²¿ç€æœ€åŽä¸€ä¸ªç»´åº¦æ‹¼æŽ¥è¿™ä¸¤ä¸ªå¼ é‡
x = torch.cat(seg_to_merge, -1)

# è¾“å‡ºæ‹¼æŽ¥åŽçš„å¼ é‡
print("æ‹¼æŽ¥åŽçš„å¼ é‡ï¼š")
print(x)
a.shape

æ‹¼æŽ¥åŽçš„å¼ é‡ï¼š
tensor([[1, 2, 5, 6],
        [3, 4, 7, 8]])

torch.Size([2, 2])

In [14]:
import torch
from einops import rearrange

# ç¤ºä¾‹å‚æ•°
b = 2  # æ‰¹æ¬¡å¤§å°
out_d = 3  # è¾“å‡ºç»´åº¦
seg_num = 4  # æ®µè½æ•°é‡
seg_len = 5  # æ¯ä¸ªæ®µçš„é•¿åº¦

# éšæœºç”Ÿæˆç¤ºä¾‹å¼ é‡ final_predict
final_predict = torch.randn(b, out_d * seg_num, seg_len)
print("åŽŸå§‹ final_predict å¼ é‡ï¼š")
print(final_predict)

# ä½¿ç”¨ rearrange å‡½æ•°é‡æ–°æŽ’åˆ— final_predict å¼ é‡
rearranged_predict = rearrange(final_predict, 'b (out_d seg_num) seg_len -> b (seg_num seg_len) out_d', out_d=out_d)
print("\né‡æ–°æŽ’åˆ—åŽçš„ final_predict å¼ é‡ï¼š")
print(rearranged_predict)

åŽŸå§‹ final_predict å¼ é‡ï¼š
tensor([[[ 0.6262, -0.0233,  0.6629,  0.1374,  0.1178],
         [-1.3636,  0.2824,  0.7955,  1.2888,  0.2963],
         [-1.1468,  1.5699,  0.0420,  0.4930,  0.7696],
         [-0.7035,  0.2744, -0.4257,  0.0324, -0.4872],
         [-1.0261,  0.1229, -0.1106,  0.5236,  0.5603],
         [ 0.6450,  0.8604,  0.0988,  0.5084,  0.2874],
         [ 0.8394,  0.4115, -1.1119,  0.8520,  1.5775],
         [ 1.1657,  0.2791, -1.1700,  0.2138, -0.6792],
         [ 0.0425, -0.9457, -0.0536, -1.4396, -1.1177],
         [ 1.4354, -2.0857,  0.7053, -0.4977, -0.3397],
         [ 0.7459,  0.2720, -1.0283,  0.1502,  0.5427],
         [ 1.2964, -0.3306, -2.5910,  0.2663, -1.0804]],

        [[-0.8302, -0.3799, -0.1024,  0.7141, -1.2451],
         [ 0.8004, -1.1981, -0.3736,  1.4854,  1.1336],
         [-0.2066,  0.6627,  1.7073,  0.4063, -2.5493],
         [ 1.7730,  2.2595, -1.1409,  1.1361,  0.1768],
         [ 1.4051, -0.3814,  0.1445, -1.7346,  0.5159],
         [-0.1619,  0.4194,  0.7583, -1.4154,  0.8129],
         [-0.1144,  1.6748,  1.0284, -0.6264, -0.4459],
         [-0.8904,  1.2227, -1.7565, -0.1210,  1.6113],
         [ 0.3553, -0.3747, -0.1922, -0.2434,  0.5119],
         [-0.4053,  0.2769,  0.0942, -3.0871, -0.7098],
         [ 0.3053,  1.2805, -0.4767, -0.6958, -0.2898],
         [-0.4791, -0.2708,  0.2496, -1.0369,  1.0616]]])

é‡æ–°æŽ’åˆ—åŽçš„ final_predict å¼ é‡ï¼š
tensor([[[ 0.6262, -1.0261,  0.0425],
         [-0.0233,  0.1229, -0.9457],
         [ 0.6629, -0.1106, -0.0536],
         [ 0.1374,  0.5236, -1.4396],
         [ 0.1178,  0.5603, -1.1177],
         [-1.3636,  0.6450,  1.4354],
         [ 0.2824,  0.8604, -2.0857],
         [ 0.7955,  0.0988,  0.7053],
         [ 1.2888,  0.5084, -0.4977],
         [ 0.2963,  0.2874, -0.3397],
         [-1.1468,  0.8394,  0.7459],
         [ 1.5699,  0.4115,  0.2720],
         [ 0.0420, -1.1119, -1.0283],
         [ 0.4930,  0.8520,  0.1502],
         [ 0.7696,  1.5775,  0.5427],
         [-0.7035,  1.1657,  1.2964],
         [ 0.2744,  0.2791, -0.3306],
         [-0.4257, -1.1700, -2.5910],
         [ 0.0324,  0.2138,  0.2663],
         [-0.4872, -0.6792, -1.0804]],

        [[-0.8302,  1.4051,  0.3553],
         [-0.3799, -0.3814, -0.3747],
         [-0.1024,  0.1445, -0.1922],
         [ 0.7141, -1.7346, -0.2434],
         [-1.2451,  0.5159,  0.5119],
         [ 0.8004, -0.1619, -0.4053],
         [-1.1981,  0.4194,  0.2769],
         [-0.3736,  0.7583,  0.0942],
         [ 1.4854, -1.4154, -3.0871],
         [ 1.1336,  0.8129, -0.7098],
         [-0.2066, -0.1144,  0.3053],
         [ 0.6627,  1.6748,  1.2805],
         [ 1.7073,  1.0284, -0.4767],
         [ 0.4063, -0.6264, -0.6958],
         [-2.5493, -0.4459, -0.2898],
         [ 1.7730, -0.8904, -0.4791],
         [ 2.2595,  1.2227, -0.2708],
         [-1.1409, -1.7565,  0.2496],
         [ 1.1361, -0.1210, -1.0369],
         [ 0.1768,  1.6113,  1.0616]]])

In [ ]:

self.decode_layers = nn.ModuleList()
self.decode_layers.append(MaxPoolingLayer())

In [ ]:
class Decoder(nn.Module):
    '''
    The decoder of Crossformer, making the final prediction by adding up predictions at each scale
    '''
    def __init__(self, seg_len, d_layers, d_model, n_heads, d_ff, dropout,\
                router=False, out_seg_num = 10, factor=10):
        super(Decoder, self).__init__()

        self.router = router
        self.decode_layers = nn.ModuleList()
        for i in range(d_layers):
            self.decode_layers.append(MaxPoolingLayer())
    #æŽ¥å—è¾“å‡ºä¸ºx
    def forward(self, x, cross):
        #æå–æ—¶é—´æ­¥é•¿ç»´åº¦
        final_predict = None
        i = 0
        #èŽ·å–æ—¶é—´æ­¥é•¿
        ts_d = x.shape[1]
        for layer in self.decode_layers:
            cross_enc = cross[i]
            layer_predict = layer(cross_enc)
            #ç¬¬ä¸€æ¬¡è¿­ä»£ï¼Œé¢„æµ‹ä¸ºè¯¥å±‚é¢„æµ‹ï¼Œå¦åˆ™è¿›è¡Œç´¯åŠ 
            if final_predict is None:
                final_predict = layer_predict
            else:
                final_predict = final_predict + layer_predict
            i += 1
        
        final_predict = rearrange(final_predict, 'b (out_d seg_num) seg_len -> b (seg_num seg_len) out_d', out_d = ts_d)
        #xè¾“å…¥:b ts_d seg_num d_model
        return final_predict

In [ ]:
class Decoder(nn.Module):
    '''
    The decoder of Crossformer, making the final prediction by adding up predictions at each scale
    '''
    def __init__(self, seg_len, d_layers, d_model, n_heads, d_ff, dropout,\
                router=False, out_seg_num = 10, factor=10):
        super(Decoder, self).__init__()

        self.router = router
        self.decode_layers = nn.ModuleList()
        for i in range(d_layers):
            self.decode_layers.append(DecoderLayer(seg_len, d_model, n_heads, d_ff, dropout, \
                                        out_seg_num, factor))
    #æŽ¥å—è¾“å‡ºä¸ºx
    def forward(self, x, cross):
        #æå–æ—¶é—´æ­¥é•¿ç»´åº¦
        final_predict = None
        i = 0
        #èŽ·å–æ—¶é—´æ­¥é•¿
        ts_d = x.shape[1]
        for layer in self.decode_layers:
            cross_enc = cross[i]
            x, layer_predict = layer(x,  cross_enc)
            #ç¬¬ä¸€æ¬¡è¿­ä»£ï¼Œé¢„æµ‹ä¸ºè¯¥å±‚é¢„æµ‹ï¼Œå¦åˆ™è¿›è¡Œç´¯åŠ 
            if final_predict is None:
                final_predict = layer_predict
            else:
                final_predict = final_predict + layer_predict
            i += 1
        
        final_predict = rearrange(final_predict, 'b (out_d seg_num) seg_len -> b (seg_num seg_len) out_d', out_d = ts_d)
        #xè¾“å…¥:b ts_d seg_num d_model
        return final_predict

In [30]:
import torch


tensor = torch.randn(2,3,4)


output= torch.mean(tensor, dim=1, keepdim=True)
print(tensor)
print(output)
# è¾“å‡ºå¼ é‡çš„å½¢çŠ¶ä¸º (b, 1, in_seg_num, d_model)
print(output.shape)

tensor([[[ 3.0416, -1.2412,  0.3960,  0.7128],
         [ 1.5999, -0.6449,  0.7850,  0.2560],
         [ 1.5819, -1.0707,  0.0276, -0.2570]],

        [[-0.2548,  1.2035, -0.0185, -0.4321],
         [ 1.2907, -0.8717,  0.8609,  1.1416],
         [ 2.6144,  1.0878, -1.9365, -2.1830]]])
tensor([[[ 2.0745, -0.9856,  0.4029,  0.2373]],

        [[ 1.2168,  0.4732, -0.3647, -0.4912]]])
torch.Size([2, 1, 4])

In [ ]:
class MaxPoolingLayer(nn.Module):
    def __init__(self,seg_len, d_model):
        super(MaxPoolingLayer, self).__init__()
        self.MLP1 = nn.Sequential(nn.Linear(d_model, d_model),
                                nn.GELU(),
                                nn.Linear(d_model, d_model))
        #æ˜ å°„åˆ°æ®µçš„é•¿åº¦
        self.linear_pred = nn.Linear(d_model, seg_len)

    def forward(self, x):
        # å¯¹ ts_d ç»´åº¦è¿›è¡Œæœ€å¤§æ± åŒ–æ“ä½œï¼Œå¹¶ä¿æŒç»´åº¦
        pooled_output, _ = torch.max(x, dim=2, keepdim=True)
        # å¯¹ seg_num ç»´åº¦è¿›è¡Œå¹³å‡æ± åŒ–æ“ä½œ
        pooled_output = torch.mean(pooled_output, dim=1,keepdim=True)
        pooled_output = self.MLP1(pooled_output)
        layer_predict = self.linear_pred(pooled_output)


        layer_predict = rearrange(pooled_output, 'b out_d seg_num seg_len -> b (out_d seg_num) seg_len')
        #print(layer_predict.shape)

        return layer_predict

class Decoder(nn.Module):
    '''
    The decoder of Crossformer, making the final prediction by adding up predictions at each scale
    '''
    def __init__(self, seg_len, d_layers, d_model, n_heads, d_ff, dropout,\
                router=False, out_seg_num = 10, factor=10):
        super(Decoder, self).__init__()

        self.router = router
        self.decode_layers = nn.ModuleList()
        for i in range(d_layers):
            self.decode_layers.append(MaxPoolingLayer(seg_len, d_model))
    #æŽ¥å—è¾“å‡ºä¸ºx
    def forward(self, x, cross):
        #æå–æ—¶é—´æ­¥é•¿ç»´åº¦
        final_predict = None
        i = 0
        #èŽ·å–æ—¶é—´æ­¥é•¿
        ts_d = x.shape[1]
        for layer in self.decode_layers:
            cross_enc = cross[i]
            layer_predict = layer(cross_enc)
            #ç¬¬ä¸€æ¬¡è¿­ä»£ï¼Œé¢„æµ‹ä¸ºè¯¥å±‚é¢„æµ‹ï¼Œå¦åˆ™è¿›è¡Œç´¯åŠ 
            if final_predict is None:
                final_predict = layer_predict
            else:
                final_predict = final_predict + layer_predict
            i += 1
        
        final_predict = rearrange(final_predict, 'b (out_d seg_num) seg_len -> b (seg_num seg_len) out_d', out_d = 1)
        #print(final_predict.shape)
        #xè¾“å…¥:b ts_d seg_num d_model
        return final_predict

In [23]:
import pandas as pd


df = pd.read_parquet('/Users/huwenyao/Desktop/HFT_crossformer/labeled_tick_data_4.parquet')


print(df.head())

                 time  CurVolume  AskPrice1  AskVolume1  BidPrice1  \
0 2023-11-01 09:30:00    4429000      17.39   3343600.0      16.75
1 2023-11-01 10:00:00    1507801      17.06   2019404.0      16.75
2 2023-11-01 10:30:00     809700      17.00   3541200.0      16.80
3 2023-11-01 11:00:00     515300      16.94   1847700.0      16.82
4 2023-11-01 11:30:00       1000      16.92    156000.0      16.91

   BidVolume1  AskPrice2  AskVolume2  BidPrice2  BidVolume2  ...  \
0   3742700.0      17.40   3381200.0      16.74   4921200.0  ...
1   6220395.0      17.07   2119600.0      16.74   6762899.0  ...
2   6464800.0      17.01   5848500.0      16.79   8840500.0  ...
3   4816800.0      16.95   1445400.0      16.81   8372500.0  ...
4     27000.0      16.93    375000.0      16.90     45000.0  ...

   TotalOfferQty  LastPrice  BuyPrice  SellPrice1  LogReturn1  SellPrice2  \
0     1087781100      16.90     16.82       16.92    0.005928       16.68
1     1364026704      16.82     16.88       16.92    0.002367       16.52
2     1396689200      16.88     16.92       16.86   -0.003552       16.38
3     1331921100      16.92     16.92       16.88   -0.002367       16.36
4       74427000      16.92     16.92       16.87   -0.002959       16.36

   LogReturn2  SellPrice3  LogReturn3  SecurityID
0   -0.008358       16.68   -0.008358           4
1   -0.021558       16.52   -0.021558           4
2   -0.032435       16.38   -0.032435           4
3   -0.033657       16.36   -0.033657           4
4   -0.033657       16.36   -0.033657           4

[5 rows x 21 columns]

In [40]:
df = df.drop(['BuyPrice', 'SellPrice3','SellPrice1','SellPrice2'], axis=1)

In [41]:
df = df.dropna(subset=['AskPrice1'])

In [42]:
df.drop(['LogReturn1', 'LogReturn2', 'LogReturn3'], axis=1, inplace=True)

In [ ]:
df = df.loc[df['raw'] == 1]

In [38]:
df

,time,CurVolume,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,...,TotalOfferQty,LastPrice,BuyPrice,SellPrice1,LogReturn1,SellPrice2,LogReturn2,SellPrice3,LogReturn3,SecurityID
0,2023-11-01 09:30:00,4429000,17.39,3343600.0,16.75,3742700.0,17.40,3381200.0,16.74,4921200.0,...,1087781100,16.90,16.82,16.92,0.005928,16.68,-0.008358,16.68,-0.008358,4
1,2023-11-01 10:00:00,1507801,17.06,2019404.0,16.75,6220395.0,17.07,2119600.0,16.74,6762899.0,...,1364026704,16.82,16.88,16.92,0.002367,16.52,-0.021558,16.52,-0.021558,4
2,2023-11-01 10:30:00,809700,17.00,3541200.0,16.80,6464800.0,17.01,5848500.0,16.79,8840500.0,...,1396689200,16.88,16.92,16.86,-0.003552,16.38,-0.032435,16.38,-0.032435,4
3,2023-11-01 11:00:00,515300,16.94,1847700.0,16.82,4816800.0,16.95,1445400.0,16.81,8372500.0,...,1331921100,16.92,16.92,16.88,-0.002367,16.36,-0.033657,16.36,-0.033657,4
4,2023-11-01 11:30:00,1000,16.92,156000.0,16.91,27000.0,16.93,375000.0,16.90,45000.0,...,74427000,16.92,16.92,16.87,-0.002959,16.36,-0.033657,16.36,-0.033657,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,2023-12-29 12:30:00,0,16.01,12000.0,16.00,27000.0,16.02,12000.0,15.99,90000.0,...,22128000,16.01,15.95,NaN,NaN,NaN,NaN,NaN,NaN,4
469,2023-12-29 13:00:00,225500,16.02,2488900.0,15.87,1699100.0,16.03,2927300.0,15.86,1748300.0,...,326636700,15.95,15.98,NaN,NaN,NaN,NaN,NaN,NaN,4
470,2023-12-29 13:30:00,162100,16.01,1836300.0,15.93,890300.0,16.02,3170100.0,15.92,1749800.0,...,318046700,15.98,16.15,NaN,NaN,NaN,NaN,NaN,NaN,4
471,2023-12-29 14:00:00,767700,16.22,3032000.0,15.97,3407700.0,16.23,3531600.0,15.96,3158200.0,...,380792900,16.15,16.14,NaN,NaN,NaN,NaN,NaN,NaN,4
472,2023-12-29 14:30:00,476500,16.16,4384900.0,16.10,3367800.0,16.17,8926100.0,16.08,3455600.0,...,384004800,16.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [95]:


df.to_csv("hf2.csv")

In [89]:
df = df.drop(['BuyPrice', 'SellPrice'], axis=1)

In [90]:
df

,time,Volume,LastPrice,TotalBidQty,WeightedAvgBidPx,TotalOfferQty,WeightedAvgOfferPx,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,LogReturn
0,2024-04-30 09:30:00,260600.0,3.38,2126100.0,3.335,5788911.0,3.550,3.38,272600.0,3.37,380400.0,3.39,302500.0,3.36,361500.0,0.002954
1,2024-04-30 09:30:03,349800.0,3.38,2692000.0,3.337,7075811.0,3.535,3.38,280100.0,3.37,518600.0,3.39,335400.0,3.36,349800.0,0.005917
2,2024-04-30 09:30:06,655700.0,3.37,2542800.0,3.333,7313111.0,3.534,3.38,282600.0,3.37,253000.0,3.39,345900.0,3.36,378400.0,0.002954
3,2024-04-30 09:30:09,684300.0,3.38,2782700.0,3.335,7584811.0,3.530,3.38,293600.0,3.37,358000.0,3.39,485100.0,3.36,397700.0,0.002954
4,2024-04-30 09:30:12,849300.0,3.38,2756200.0,3.333,7689511.0,3.529,3.38,313800.0,3.37,200300.0,3.39,498100.0,3.36,459200.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,2024-04-30 14:56:48,54754161.0,3.39,6714702.0,3.343,15815311.0,3.503,3.39,1603100.0,3.38,702302.0,3.40,1084000.0,3.37,1238800.0,NaN
4774,2024-04-30 14:56:51,54917661.0,3.38,6753302.0,3.344,15674211.0,3.504,3.39,1460800.0,3.38,740902.0,3.40,1085200.0,3.37,1238800.0,NaN
4775,2024-04-30 14:56:54,54921861.0,3.39,6738302.0,3.344,15668311.0,3.504,3.39,1457200.0,3.38,735902.0,3.40,1085200.0,3.37,1238800.0,NaN
4776,2024-04-30 14:56:57,54937061.0,3.38,6724502.0,3.343,15664311.0,3.504,3.39,1453200.0,3.38,722202.0,3.40,1085200.0,3.37,1238800.0,NaN
4777,2024-04-30 14:57:00,54961461.0,3.38,6650802.0,3.343,15662711.0,3.504,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,NaN

In [46]:
df2=pd.read_csv('/Users/huwenyao/Desktop/HFT_crossformer/Crossformer/datasets/hfnew.csv')
df2

,time,CurVolume,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,TotalBidQty,TotalOfferQty,LastPrice,SecurityID
0,2023-11-01 09:30:00,4429000,17.39,3343600.0,16.75,3742700.0,17.40,3381200.0,16.74,4921200.0,347109200,1087781100,16.90,4
1,2023-11-01 10:00:00,1507801,17.06,2019404.0,16.75,6220395.0,17.07,2119600.0,16.74,6762899.0,433534891,1364026704,16.82,4
2,2023-11-01 10:30:00,809700,17.00,3541200.0,16.80,6464800.0,17.01,5848500.0,16.79,8840500.0,426497300,1396689200,16.88,4
3,2023-11-01 11:00:00,515300,16.94,1847700.0,16.82,4816800.0,16.95,1445400.0,16.81,8372500.0,470271400,1331921100,16.92,4
4,2023-11-01 11:30:00,1000,16.92,156000.0,16.91,27000.0,16.93,375000.0,16.90,45000.0,26808000,74427000,16.92,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,2023-12-29 10:00:00,470300,16.03,4493200.0,15.93,1981000.0,16.04,6805000.0,15.92,2226000.0,127916400,384138000,16.02,4
461,2023-12-29 10:30:00,290000,16.06,4392000.0,15.97,1370900.0,16.07,6221700.0,15.96,1232900.0,125716200,325716300,16.06,4
462,2023-12-29 11:00:00,196100,16.09,1139800.0,15.98,1619200.0,16.10,1931900.0,15.97,1997900.0,97989800,282409800,16.01,4
463,2023-12-29 11:30:00,0,16.01,12000.0,16.00,27000.0,16.02,12000.0,15.99,90000.0,7059000,22128000,16.01,4
464,2023-12-29 12:00:00,0,16.01,12000.0,16.00,27000.0,16.02,12000.0,15.99,90000.0,7059000,22128000,16.01,4

In [47]:
df

,time,CurVolume,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,TotalBidQty,TotalOfferQty,LastPrice,SecurityID
0,2023-11-01 09:30:00,25771621,11.43,88431836.0,11.28,62206585.0,11.44,122597008.0,11.27,90194900.0,3962355285,5825995568,11.40,2
1,2023-11-01 10:00:00,8459144,11.42,65280875.0,11.32,79649902.0,11.43,88389076.0,11.31,154448231.0,4417538037,7620043619,11.33,2
2,2023-11-01 10:30:00,6104520,11.36,57993980.0,11.32,91910580.0,11.37,99200200.0,11.31,177903100.0,4701851280,7998508174,11.34,2
3,2023-11-01 11:00:00,4770500,11.35,97934000.0,11.31,135770600.0,11.36,152860400.0,11.30,202925200.0,4858210700,8389071386,11.33,2
4,2023-11-01 11:30:00,1600,11.33,6351000.0,11.32,1767000.0,11.34,2454000.0,11.31,12603000.0,247641000,426958710,11.32,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,2023-12-29 12:30:00,0,10.45,513000.0,10.44,1515000.0,10.46,1650000.0,10.43,11259000.0,215088000,412953750,10.45,2
469,2023-12-29 13:00:00,7659243,10.46,59809400.0,10.39,157810656.0,10.47,37190100.0,10.38,264510007.0,4115744609,8454618575,10.42,2
470,2023-12-29 13:30:00,3394541,10.45,68874621.0,10.41,95924174.0,10.46,77955000.0,10.40,119175625.0,4442815910,8372517246,10.45,2
471,2023-12-29 14:00:00,4692654,10.48,54174756.0,10.44,76558936.0,10.49,121827020.0,10.43,89238540.0,4163724825,8347882551,10.46,2
472,2023-12-29 14:30:00,7079903,10.46,141478300.0,10.44,211215600.0,10.47,148684600.0,10.43,215603100.0,3413909380,7647128860,10.46,2

In [49]:
df_combined = pd.concat([df, df2], ignore_index=True)

In [75]:
df_combined.to_csv("id24.csv", index=False)

In [74]:
df_combined

,time,CurVolume,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,TotalBidQty,TotalOfferQty,LastPrice,SecurityID
0,2023-11-01 09:30:00,25771621,11.43,88431836.0,11.28,62206585.0,11.44,122597008.0,11.27,90194900.0,3962355285,5825995568,11.40,2
1,2023-11-01 10:00:00,8459144,11.42,65280875.0,11.32,79649902.0,11.43,88389076.0,11.31,154448231.0,4417538037,7620043619,11.33,2
2,2023-11-01 10:30:00,6104520,11.36,57993980.0,11.32,91910580.0,11.37,99200200.0,11.31,177903100.0,4701851280,7998508174,11.34,2
3,2023-11-01 11:00:00,4770500,11.35,97934000.0,11.31,135770600.0,11.36,152860400.0,11.30,202925200.0,4858210700,8389071386,11.33,2
4,2023-11-01 11:30:00,1600,11.33,6351000.0,11.32,1767000.0,11.34,2454000.0,11.31,12603000.0,247641000,426958710,11.32,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
933,2023-12-29 10:00:00,470300,16.03,4493200.0,15.93,1981000.0,16.04,6805000.0,15.92,2226000.0,127916400,384138000,16.02,4
934,2023-12-29 10:30:00,290000,16.06,4392000.0,15.97,1370900.0,16.07,6221700.0,15.96,1232900.0,125716200,325716300,16.06,4
935,2023-12-29 11:00:00,196100,16.09,1139800.0,15.98,1619200.0,16.10,1931900.0,15.97,1997900.0,97989800,282409800,16.01,4
936,2023-12-29 11:30:00,0,16.01,12000.0,16.00,27000.0,16.02,12000.0,15.99,90000.0,7059000,22128000,16.01,4
937,2023-12-29 12:00:00,0,16.01,12000.0,16.00,27000.0,16.02,12000.0,15.99,90000.0,7059000,22128000,16.01,4

In [76]:
filtered_df = df_combined.loc[df_combined['SecurityID'] == 2]

In [77]:
filtered_df

,time,CurVolume,AskPrice1,AskVolume1,BidPrice1,BidVolume1,AskPrice2,AskVolume2,BidPrice2,BidVolume2,TotalBidQty,TotalOfferQty,LastPrice,SecurityID
0,2023-11-01 09:30:00,25771621,11.43,88431836.0,11.28,62206585.0,11.44,122597008.0,11.27,90194900.0,3962355285,5825995568,11.40,2
1,2023-11-01 10:00:00,8459144,11.42,65280875.0,11.32,79649902.0,11.43,88389076.0,11.31,154448231.0,4417538037,7620043619,11.33,2
2,2023-11-01 10:30:00,6104520,11.36,57993980.0,11.32,91910580.0,11.37,99200200.0,11.31,177903100.0,4701851280,7998508174,11.34,2
3,2023-11-01 11:00:00,4770500,11.35,97934000.0,11.31,135770600.0,11.36,152860400.0,11.30,202925200.0,4858210700,8389071386,11.33,2
4,2023-11-01 11:30:00,1600,11.33,6351000.0,11.32,1767000.0,11.34,2454000.0,11.31,12603000.0,247641000,426958710,11.32,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,2023-12-29 12:30:00,0,10.45,513000.0,10.44,1515000.0,10.46,1650000.0,10.43,11259000.0,215088000,412953750,10.45,2
469,2023-12-29 13:00:00,7659243,10.46,59809400.0,10.39,157810656.0,10.47,37190100.0,10.38,264510007.0,4115744609,8454618575,10.42,2
470,2023-12-29 13:30:00,3394541,10.45,68874621.0,10.41,95924174.0,10.46,77955000.0,10.40,119175625.0,4442815910,8372517246,10.45,2
471,2023-12-29 14:00:00,4692654,10.48,54174756.0,10.44,76558936.0,10.49,121827020.0,10.43,89238540.0,4163724825,8347882551,10.46,2
472,2023-12-29 14:30:00,7079903,10.46,141478300.0,10.44,211215600.0,10.47,148684600.0,10.43,215603100.0,3413909380,7647128860,10.46,2

In [73]:
df_combined['SecurityID'] = df_combined['SecurityID'].apply(lambda x: int(x) if isinstance(x, str) and x == '2' else x)

In [3]:
import pandas as pd
df=pd.read_csv("/Users/huwenyao/Desktop/HFT_crossformer/Crossformer/datasets/hf.csv")

In [8]:

import numpy as np

df['return'] = np.exp(df['LogReturn'])

In [10]:
df = df.drop('LogReturn', axis=1)

In [12]:
df.to_csv("hf.csv", index=False)

In [21]:
import torch
x=torch.randn(3,1,1)
print(x.shape)
x=x.squeeze(-1)
print(x.shape)

torch.Size([3, 1, 1])
torch.Size([3, 1])

In [70]:
import torch.nn as nn
cos=nn.CosineSimilarity(dim=0, eps=1e-6)
cos(x-x.mean(dim=0,keepdim=True), y-y.mean(dim=0,keepdim=True)).mean()

tensor(0.)

In [68]:
x=torch.ones(4,1)
y=torch.randn(4,1)

In [100]:
a=[]
b=[1,2]
c=[4,6]

In [111]:
a.append(b)
a.append(c)
len(a)

4

In [109]:
t=torch.rand(1,1)
print(t.shape)
t.squeeze(-1)
print(t.shape)

torch.Size([1, 1])
torch.Size([1, 1])

In [112]:
a

[[1, 2], [4, 6], [1, 2], [4, 6]]

In [110]:
import torch

# åˆ›å»ºä¸€ä¸ª (1, 1) çš„å¼ é‡
t = torch.rand(1, 1)
print(t.shape)  # è¾“å‡º: torch.Size([1, 1])

# ä½¿ç”¨ squeeze() åˆ é™¤å¤§å°ä¸º 1 çš„ç»´åº¦
t = t.squeeze(-1)
print(t.shape)  # è¾“å‡º: torch.Size([1])

torch.Size([1, 1])
torch.Size([1])